<nav class="navbar navbar-expand-lg" style="background-color: rgba(67, 154, 162, 0.918);">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="#">Medlogics</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light">Disabled</a>
                </li>
            </ul>
            <span class="navbar-text text-light me-5">{{currentUser?.username}}</span>
            <button mat-mini-fab color="warn" aria-label="Example icon button with a home icon" (click)="logout()">
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>