<app-custom-card title="New Consultation" subtitle="Your calendar is there">
    <h1>Make an appointment for a consultation</h1>

    <mat-stepper [linear]="true" #stepper class="mt-5">
        <mat-step [stepControl]="step1Form" label="Location">
            <form [formGroup]="step1Form">
                <div class="mt-5">
                    <button mat-stroked-button color="primary" matStepperNext>Next</button>
                </div>
                <mat-card class="mt-3">

                    <div class="row mt-3 p-4">
                        <mat-form-field appearance="fill" class="col-4">
                            <mat-label>Select a health care provider</mat-label>
                            <mat-select [(ngModel)]="selectedHealthCheckProvider"
                                (selectionChange)="SelectHCP(selectedHealthCheckProvider)" formControlName="doctorId">
                                <mat-option *ngFor="let healthCheckProvider of healthCheckProviders;"
                                    [value]="healthCheckProvider">Dr {{healthCheckProvider.firstName}}
                                    {{healthCheckProvider.lastName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="row mt-3 p-4">
                        <mat-form-field appearance="fill" class="col-4">
                            <mat-label>Select a location</mat-label>
                            <mat-select
                                [(ngModel)]="selectedLocation"
                                (selectionChange)="SelectLocation(selectedLocation)" 
                                formControlName="location">
                                <mat-option *ngFor="let location of availableLocations;"
                                    [value]="location">{{location.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </mat-card>
            </form>
        </mat-step>
        <mat-step [stepControl]="step2Form" label="Date">
            <form [formGroup]="step2Form">
                <div class="mt-5">
                    <button mat-stroked-button matStepperPrevious>Back</button>
                    <button mat-stroked-button color="primary" matStepperNext>Next</button>
                </div>
                <mat-card class="mt-3">
                    <div class="row mt-3 p-4" *ngIf="selectedLocation">
                        <h5>available dates :</h5>
                        <div class="col-6">
                            <mat-accordion>
                                <mat-expansion-panel hideToggle *ngFor="let availableDate of availableDates;">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{availableDate.date}}
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            {{availableDate.slots?.length}} slots disponible(s)
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <div class="list-group">
                                        <button *ngFor="let slot of availableDate.slots;" (click)="selectSlot(slot)"
                                            mat-stroked-button [color]="selectedSlot != slot ? 'primary' : 'warn'">
                                            {{slot | date:'HH:mm'}}
                                        </button>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                        <div class="col-6">
                            <div class="row mt-3">
                                <span class="col-3 fw-bold">Selected slot:</span>
                                <span class="col-9" *ngIf="selectedSlot">{{selectedSlot | date:'dd/MM/yyyy -
                                    HH:mm'}}</span>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </form>
        </mat-step>
        <mat-step [stepControl]="step3Form" label="Notes">
            <form [formGroup]="step3Form">
                <div class="mt-5">
                    <button mat-stroked-button matStepperPrevious>Back</button>
                    <button mat-stroked-button color="primary" matStepperNext>Next</button>
                </div>
                <mat-card class="mt-3">
                    <div class="row mt-3 p-4">
                        <mat-form-field appearance="fill">
                            <mat-label>What is your issue</mat-label>
                            <textarea matInput class="col-12" [rows]="10" formControlName="notes"></textarea>
                        </mat-form-field>
                    </div>
                </mat-card>
            </form>

        </mat-step>
        <mat-step label="done">
            <div class="mt-5">
                <button mat-stroked-button matStepperPrevious>Back</button>
                <button mat-stroked-button color="warn" (click)="stepper.reset()">Reset</button>
            </div>
            <mat-card class="mt-3">
                <div class="row mt-3 p-4">
                    <h3>Summary</h3>
                    <div class="col-8">
                        <div class="row mt-3">
                            <span class="col-4 fw-bold">Health care provider:</span>
                            <span class="col-8" *ngIf="selectedHealthCheckProvider">Dr
                                {{selectedHealthCheckProvider.firstName}}
                                {{selectedHealthCheckProvider.lastName}}</span>
                        </div>
                        <div class="row mt-3">
                            <span class="col-4 fw-bold">Location:</span>
                            <span class="col-8" *ngIf="selectedLocation">{{selectedLocation.name}}</span>
                        </div>
                        <div class="row mt-3">
                            <span class="col-4 fw-bold">Slot:</span>
                            <span class="col-8" *ngIf="selectedSlot">{{selectedSlot | date:'dd/MM/yyyy - HH:mm'}}</span>
                        </div>

                        <div class="row mt-5">
                            <mat-form-field appearance="fill">
                                <mat-label>Explain what's happen</mat-label>
                                <textarea matInput readonly="true" class="col-12" [rows]="10"
                                    [value]="step3Form.get('notes')?.value"></textarea>
                            </mat-form-field>
                        </div>

                        <div class="row mt-3">
                            <button mat-stroked-button color="primary" class="col-6"
                                (click)="postNewConsultation()">Send</button>
                        </div>
                    </div>
                </div>
            </mat-card>
        </mat-step>
    </mat-stepper>

</app-custom-card>