<div class="w-100 bg-dark text-light p-3" style="height: 15%;">
    <h1>Medlogics</h1>
    <h2>{{currentUser?.username}}</h2>
  </div>
  <div class="mt-3" style="min-width: 250px;">
    <!-- NAVIGATION -->
    <div class="h-100 w-100">
      <div class="drawer h-100 w-100">
        <dx-scroll-view>
          <div>
            <div class="logo">
              <!-- <img class="logo" height="65" width="65" src="../assets/img/logo.png" /> -->
            </div>
          </div>
          <div class="menu d-flex flex-column w-100">
            <div *ngFor="let item of navItems" class="w-100">
              <div class="menu-item d-flex align-items-center w-100 rounded-4" (click)="changeSelection(item)">
                <div class="icon ps-2">
                  <i class="fa-lg" [ngClass]="item.icon"></i>
                </div>
                <div class="menu-name p-3">
                  <span>{{ item.title }}</span>
                </div>
                <div class="ms-auto me-2">
                  <i *ngIf="item?.items != null && item.items.length > 0 && !item?.isExpanded == true"
                    class="bi bi-plus-circle"></i>
                  <i *ngIf="item?.items != null && item.items.length > 0 && item?.isExpanded == true"
                    class="bi bi-dash-circle"></i>
                </div>
                <div class="caret">
                  <!-- <fa-icon *ngIf="item?.routerLink == selectedMenu" [icon]="['fas', 'caret-left']"></fa-icon> -->
                </div>
              </div>
              <div [ngClass]="item.isExpanded ? 'show' : 'hide'">
                <div *ngFor="let subItem of item.items" (click)="changeSelection(subItem)">
                  <div>
                    <div class="menu-item d-flex align-items-center w-100">
                      <div class="icon-light ms-4">
                        <i class="fa-md" [ngClass]="subItem.icon + ''"></i>
                      </div>
                      <div class="menu-name-light p-2">
                        <span>{{ subItem.title }}</span>
                      </div>
                      <div class="caret ms-auto">
                        <!-- <fa-icon *ngIf="subItem?.routerLink == selectedMenu" [icon]="['fas', 'caret-left']"></fa-icon> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </dx-scroll-view>
      </div>
    </div>

    <!-- </cdk-virtual-scroll-viewport> -->
    <!-- </ng-scrollbar> -->
  </div>